In [81]:
import pandas as pd
import sqlite3 as slite
from sqlite3 import Error

In [82]:
def query10(conn):
    '''
        Q10: Produce a list of facilities with a total revenue less than 1000.
        The output of facility name and total revenue, sorted by revenue. Remember
        that there's a different cost for guests and members!
    '''

    print ('''

        Q10: Produce a list of facilities with a total revenue less than 1000.
        The output of facility name and total revenue, sorted by revenue. Remember
        that there's a different cost for guests and members!

        ''')

    cur = conn.cursor()
    cur.execute('''SELECT
                              f.name as facilityname
                             , sum(case when b.memid = 0 then guestcost * slots
                                 else membercost * slots end ) total_cost
                      FROM  bookings b
                     INNER JOIN facilities f
                        ON b.facid = f.facid
                    group by f.name
                    having total_cost < 1000
                    order by total_cost desc'''
                )
    df = pd.DataFrame(cur.fetchall())
    col_nms = [nm[0] for nm in cur.description]
    df.columns = col_nms
    print (df)

In [83]:
def query11(conn):
    '''
        Q11: Produce a report of members and who
        recommended them in alphabetic surname,firstname order
    '''
    print ('''

        Q11: Produce a report of members and who
        recommended them in alphabetic surname,firstname order.

        ''')
    cur = conn.cursor()
    cur.execute('''select
                        m.surname||','||m.firstname as mem_nm
                      , r.surname||','||r.firstname as recomemenders_nm
                  from members m
                  left join members r
                    on m.recommendedby  = r.memid
                order by mem_nm , recomemenders_nm;'''
                )
    df = pd.DataFrame(cur.fetchall())
    col_nms = [nm[0] for nm in cur.description]
    df.columns = col_nms
    print (df)

In [84]:
def query12(conn):
    '''
        Q12: Find the facilities with their usage by member, but not guests
    '''
    print ('''

        Q12: Find the facilities with their usage by member, but not guests

        ''')
    cur = conn.cursor()
    cur.execute('''select  f.name
                         , count(distinct m.memid) member_count
                     from members m
                     join bookings b
                      on b.memid = m.memid
                     join facilities f
                       on f.facid = b.facid
                     where m.memid != 0
                     group by f.name'''
                )
    df = pd.DataFrame(cur.fetchall())
    col_nms = [nm[0] for nm in cur.description]
    df.columns = col_nms
    print (df)

In [85]:
def query13(conn):
    '''
        Q13: Find the facilities usage by month, but not guests
    '''
    print ('''

           Q13: Find the facilities usage by month, but not guests

           ''')
    cur = conn.cursor()
    cur.execute('''select f.name
                        , strftime('%m', starttime) month
                        , count(1)
                     from members m
                     join bookings b
                      on b.memid = m.memid
                     join facilities f
                       on f.facid = b.facid
                     where m.memid != 0
                     group by f.name, month'''
                )
    df = pd.DataFrame(cur.fetchall())
    col_nms = [nm[0] for nm in cur.description]
    df.columns = col_nms
    print (df)

In [86]:
def main():
    dbfile_nm = "sqlite_db_pythonsqlite.db"
    conn = slite.connect(dbfile_nm)
    with conn:
        query10(conn)
        query11(conn)
        query12(conn)
        query13(conn)
if __name__=='__main__':
    main()

        Q10: Produce a list of facilities with a total revenue less than 1000.
        The output of facility name and total revenue, sorted by revenue. Remember
        that there's a different cost for guests and members!


    facilityname  total_cost
0     Pool Table         270
1  Snooker Table         240
2   Table Tennis         180


        Q11: Produce a report of members and who
        recommended them in alphabetic surname,firstname order.


                     mem_nm   recomemenders_nm
0            Bader,Florence    Stibbons,Ponder
1                Baker,Anne    Stibbons,Ponder
2             Baker,Timothy     Farrell,Jemima
3                Boothe,Tim         Rownam,Tim
4            Butters,Gerald       Smith,Darren
5               Coplin,Joan      Baker,Timothy
6             Crumpet,Erica        Smith,Tracy
7                Dare,Nancy    Joplette,Janice
8             Farrell,David               None
9            Farrell,Jemima               None
10              GUEST,GUEST               None
11          Genting,Matthew     Butters,Gerald
12                Hunt,John  Purview,Millicent
13              Jones,David    Joplette,Janice
14            Jones,Douglas        Jones,David
15          Joplette,Janice       Smith,Darren
16           Mackenzie,Anna       Smith,Darren
17             Owen,Charles       Smith,Darren
18             Pinker,David     Farrell,Jemima
19        Purview,Millicent        Smith,Tracy
20               Rownam,Tim               None
21         Rumney,Henrietta    Genting,Matthew
22         Sarwin,Ramnaresh     Bader,Florence
23             Smith,Darren               None
24             Smith,Darren               None
25               Smith,Jack       Smith,Darren
26              Smith,Tracy               None
27          Stibbons,Ponder       Tracy,Burton
28             Tracy,Burton               None
29      Tupperware,Hyacinth               None
30  Worthington-Smyth,Henry        Smith,Tracy


        Q12: Find the facilities with their usage by member, but not guests


              name  member_count
0  Badminton Court            24
1   Massage Room 1            24
2   Massage Room 2            12
3       Pool Table            27
4    Snooker Table            22
5     Squash Court            24
6     Table Tennis            25
7   Tennis Court 1            23
8   Tennis Court 2            21


           Q13: Find the facilities usage by month, but not guests


               name month  count(1)
0   Badminton Court    07        51
1   Badminton Court    08       132
2   Badminton Court    09       161
3    Massage Room 1    07        77
4    Massage Room 1    08       153
5    Massage Room 1    09       191
6    Massage Room 2    07         4
7    Massage Room 2    08         9
8    Massage Room 2    09        14
9        Pool Table    07       103
10       Pool Table    08       272
11       Pool Table    09       408
12    Snooker Table    07        68
13    Snooker Table    08       154
14    Snooker Table    09       199
15     Squash Court    07        23
16     Squash Court    08        85
17     Squash Court    09        87
18     Table Tennis    07        48
19     Table Tennis    08       143
20     Table Tennis    09       194
21   Tennis Court 1    07        65
22   Tennis Court 1    08       111
23   Tennis Court 1    09       132
24   Tennis Court 2    07        41
25   Tennis Court 2    08       109
26   Tennis Court 2    09       126